<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="This is for losing your time, but remember. Treat your mother right http://www.youtube.com/watch?v=7_rBidCkJxo">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/bootstrap.css'}">
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/custom.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
